@import "fonts/fonts.css";

:root {
    --black-color: rgb(0 0 0 / 100%);
    --white-color: rgb(255 255 255 / 100%);
    --white-semi-transparent-color: rgb(255 255 255 / 40%);
    --accent-color: rgb(245 27 27 / 100%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: -apple-system, system-ui; */
    font-family: "RedCollar", Courier, monospace;
    background-color: var(--black-color);
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--white-color);
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}
