.about {
  position: relative;
  padding: 40px 15px 6px;
  border: 1px solid var(--white-color);
}

.about::after {
  content: url("../../assets/arrow.svg");
  position: absolute;
  top: -1px;
  left: 0;
  translate: -50% 0;
  margin-left: 50%;
  background-color: var(--black-color);
}
