.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    list-style: none;
    padding: 0;
}

.contacts-list__contact {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contacts-list__link {
    font-family: "TT Commons";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: var(--white-color);
    text-decoration: none;
}