.info:not(:last-of-type) {
    border-bottom: 1px solid var(--white-semi-transparent-color);
    margin-bottom: 24px;
}

.info__title {
    font-family: "Redcollar";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin: 0 0 16px 0;
}

.info-list {
    margin: 0 0 24px 0;
}

.info-list__title {
    font-family: "TT Commons";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    margin: 0;
}

.info-list__description {
    color: var(--white-semi-transparent-color);
    font-family: "TT Commons";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    margin: 0 0 12px 0;
}

.info-list__description .faculty,
.info-list__description .date {
    margin: 0;
}

.skills-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 16px;
    margin: 0 0 24px 0;
    padding: 0;
    list-style: none;
}

.skills-list__skill {
    font-family: "TT Commons";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.skills-list__title {
    margin: 0;
}