.profile {
    margin-bottom: 40px;
}

.profile-about {
    position: relative;
    padding: 24px 16px 40px;
    border-radius: 20px 20px 0 0;
    margin-top: -29px;
    background-color: var(--accent-color);
}

.profile__photo {
    width: 100%;
}

.profile__name {
    margin: 0;
    font-family: "Redcollar";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.profile__info {
    margin: 0 0 32px 0;
    font-family: "TT Commons";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}