@media (width >= 680px) {
    .main {
        grid-template-columns: 0.7fr 1fr;
        gap: 0 28px;
    }

    .main-logo {
        grid-column: 2;
        height: fit-content;
        margin-bottom: 0;
        margin-top: -10px;
        justify-self: end;
    }

    .profile {
        grid-column: 1;
        margin-bottom: 0;
    }

    .intro {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 1;
    }

    .intro__text {
        padding-top: 18px;
    }

    .about {
        flex: 1;
    }
}